<style is="custom-style">
    :host {
      display: block;
        /*max-width: 870px; */
        max-width: 870px;
        margin: 0px auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .centered-container {
        margin-top: 0px;
        max-width: 1000px;
        margin: 0px auto;
        background-color: lightblue;
    }
    
    paper-input {
        padding: 10px 0px 20px;
    }
    
    paper-checkbox {
        padding: 10px 10px 10px;
    }

    paper-dialog {
      display: block;
      padding: 16px 32px;
      border: 1px solid #ccc;
      position: fixed;
      /*position: absolute;*/
      top: 0px;
      left: 0px;
      margin: 0;
      width: 80vw;
      height: 100vh;
    }
.main-layout {
  display: flex;
  justify-content: space-between;
  margin-top: 0px !important;
  padding: 0 0px !important;
}
    
    @media (max-width: 600px) {
      paper-dialog {
        width: 100vw;
      }
    }
</style>
<div class="centered-container">
    <vaadin-grid [items]="data" (selected-items-changed)="onSelectedItemsChanged($event)" >
            <table>
				<colgroup>
					<col name="id">
					<col name="mese">
					<col name="gg_totale">
                    <col name="km_totale">
                    <col name="spesa">
                    <col name="percorso_id">
                    <col name="vettura_id">
				</colgroup>

				<thead>
					<tr>
						<th>ID</th>
						<th>Mese</th>
						<th>GG</th>
                        <th>KM</th>
                        <th>Spesa</th>
                        <th>Percorso</th>
                        <th>Vettura</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Loading</td>
						<td>Loading</td>
						<td>Loading</td>
                        <td>Loading</td>
						<td>Loading</td>
						<td>Loading</td>
                        <td>Loading</td>
					</tr>

				</tbody>
			</table>
    </vaadin-grid>
</div>


<paper-dialog id="dialog" #openschedavettura modal>
    <div class="main-layout">
        <h2>Vettura</h2>
        <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
    </div>
    <div class="row">
        {{message}}
    </div>
    <div class="row">
        <div class="col-md-6">
            <vaadin-combo-box label="Targa"
                      [items]="dataTarga"
                      item-label-path="targa"
                      item-value-path="id"
                      [(value)]="model.vettura_id"
                      (selected-item-changed)="selectedItemTarga=$event.detail.value">
            </vaadin-combo-box>
        </div>
        <div class="col-md-6">
            <vaadin-combo-box label="Dipendente Referenza"
                      [items]="dataDipendente"
                      item-label-path="fullname"
                      item-value-path="id"
                      [(value)]="model.dipendente_id"
                      (selected-item-changed)="selectedItemDipendente=$event.detail.value">
            </vaadin-combo-box>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <vaadin-combo-box label="Percorso"
                      [items]="dataPercorso"
                      item-label-path="nome"
                      item-value-path="id"
                      [(value)]="model.percorso_id"
                      (selected-item-changed)="selectedItemPercorso=$event.detail.value">
            </vaadin-combo-box>
        </div>
        <div class="col-md-6">
            <vaadin-combo-box label="Mese"
                      [items]="dataMese"
                      item-label-path="nome_mese"
                      item-value-path="id"
                      [(value)]="model.mese"
                      (selected-item-changed)="selectedItemMese=$event.detail.value">
            </vaadin-combo-box>
        </div>
        
    </div>
 



    <div class="buttons-layout">
        <paper-button raised class="save-button" (click)="salvare()">Save</paper-button>
        <paper-button class="cancel-button" dialog-dismiss>Cancel</paper-button>
        <paper-button id="delete" class="delete-button">Delete</paper-button>
    </div>
    <span id="error"> </span>
</paper-dialog>